@page "/"
@using BlazorBootstrap
@inject IPostSer sev
@inject NavigationManager nav
@if (Secsion1_post_banner5?.Any() == true)
{
    <section>
        <Carousel ShowIndicators="true">
            @foreach (var banner in Secsion1_post_banner5.Take(1).ToList())
            {
                <CarouselItem Active="true">
                    <img src="@banner.Feature_image" class="w-100" style="height: 680px !important" />
                    <CarouselCaption>
                        <h2 class="banner-title " style="color:white">@banner.Title</h2>
                        <p class="banner-description " style="color:white">@banner.Short_description</p>
                        <a @onclick="() => NavDetailsPost(banner.Slug)">
                            <button class="btn-more mx-auto mt-12px" style="color:white;  border: 1px solid #ffffff !important">
                                <span>Xem thêm</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                                     fill="none">
                                    <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                          stroke="#ffffff" stroke-width="2.2" stroke-linejoin="bevel" />
                                </svg>
                            </button>
                        </a>
                    </CarouselCaption>
                </CarouselItem>
            }
            @foreach (var bannersk1 in Secsion1_post_banner5.Take(5).Skip(1).ToList())
            {
                <CarouselItem>
                    <img src="@bannersk1.Feature_image" class="w-100" style="height: 680px !important" />
                    <CarouselCaption>
                        <h2 class="banner-title" style="color:white; ">@bannersk1.Title</h2>
                        <p class="banner-description" style="color:white">@bannersk1.Short_description</p>
                        <a @onclick="() => NavDetailsPost(bannersk1.Slug)">
                            <button class="btn-more mx-auto mt-12px" style="color:white;  border: 1px solid #ffffff !important">
                                <span>Xem thêm</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                                     fill="none">
                                    <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                          stroke="#ffffff" stroke-width="2.2" stroke-linejoin="bevel" />
                                </svg>
                            </button>
                        </a>
                    </CarouselCaption>
                </CarouselItem>
            }
        </Carousel>
    </section>
}
<section class="featured-post">
    <div class="container">
        <div class="row">
            @foreach (var pj in Secsion2_project_noibat3.Take(3).ToList())
            {
                <div class="col-md-4 col-12">
                    <a @onclick="() => NavDetailsProject(pj.Slug)">
                        <div class="post-image">
                            <div class="post-date-tag">
                                @pj.Created_at?.ToString("dd/MM/yyyy HH:mm:ss")
                            </div>

                            <img class="w-100" style="width: 416px; height: 535px" src="@pj.Feature_image" alt="">

                        </div>
                    </a>
                    <div class="post-intro">
                        <div class="post-category">
                            <span></span>
                            <span>@pj.Post_categories.FirstOrDefault()?.Categories?.Title</span>
                        </div>
                        <a @onclick="() => NavDetailsProject(pj.Slug)">
                            <div class="post-title">@pj.Title</div>
                        </a>
                        <div class="post-author">
                            @pj.Designer?.Name
                        </div>
                        <div class="post-desc mb-4">
                            @pj.Short_description
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<section class="trending">
    <div class="section-box">
        <div class="decoration">
            <div></div>
        </div>
    </div>
    <div class="container">
        <div class="trending-box box-top">
            <div class="tblock-left position-relative">
                <div class="tblock-information">
                    <h2 class="trending-box-title">
                        những thiết kế thảm đang trending
                    </h2>
                    <h2 class="trending-box-sub-title">
                        TRENDY
                        2024
                    </h2>
                </div>
                <a href="/contact">
                    <button class="btn-more">
                        <span>Liên hệ</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                             fill="none">
                            <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                        </svg>
                    </button>
                </a>
            </div>
            @foreach (var sp1 in Secsion3_product_trendy4.Take(1).ToList())
            {
                <a @onclick="() => NavDetailsProduct(sp1.Id)">
                    <div class="tblock-right">
                        <img style="height: 857px" src="@sp1.Feature_image"
                             alt="@sp1.Title">
                        <div class="img-desc">
                            <h2>@sp1.Title</h2>
                            <div class="decoration-title d-flex align-center">
                                <div></div>
                            </div>
                            <p>
                                @sp1.Short_description
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="trending-box trending-box-item mt-24px">
          
                @foreach (var sp3 in Secsion3_product_trendy4.Skip(1).Take(3).ToList())
                {

                    <div class="position-relative" style="max-width: 416px !important">
                        <img src="@sp3.Feature_image" alt="Ảnh 3" style="width:416px; height: 535px" class="img-fluid">
                        <div class="img-title">
                            <h2>@sp3.Title</h2>
                        </div>
                    </div>

                }
        

        </div>
    </div>
</section>
<section class="section-product">
    <div class="container">
        <div class="section-box">
            <div class="sub-title">
                Discover Our
            </div>
            <h3 class="title">Bestselling Rugs</h3>
            <div class="text-underline"></div>
        </div>
        <div class="product-list">

            <div class="row product mt-48px">
                @foreach (var item in tak4)
                {
                    <div class="col-12 col-lg-3 col-md-3 product">
                        <figure class="card product-card">
                            <div class="product-image">
                                <a @onclick="() => NavDetailsProduct(item.Id)">
                                    <div class="img-wrap">
                                        <img src="@item.Feature_image"
                                             style="height:403px !important; width:306px !important" class="w-100 h-100 object-fit-cover"
                                             alt="">
                                    </div>
                                    <div class="img-wrap-hide">
                                        <img src="@GetFirstImageUrl(item.Image_library)"
                                             style="height:403px !important;  width:306px !important" class="w-100 h-100 object-fit-cover"
                                             alt="">
                                    </div>
                                </a>
                            </div>
                            <figcaption class="product-info">
                                <a @onclick="() => NavDetailsProduct(item.Id)">
                                    <a href="" class="product-name">@item.Title</a>
                                </a>
                                <div class="product-description">
                                    <span class="description">@item.Post_categories.FirstOrDefault()?.Categories?.Title</span>
                                </div>
                                @if (item.MinPrice.HasValue && item.MaxPrice.HasValue)
                                {                                  
                                    <div class="product-price">
                                        @string.Format("{0:N0}", item.MinPrice).Replace(".", ",") VNĐ -   @string.Format("{0:N0}", item.MaxPrice).Replace(".", ",") VNĐ
                                    </div>
                                }
                                else
                                {
                                    <div>Chưa có giá</div>
                                }

                            </figcaption>
                        </figure>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="library">
    <div class="container">
        <div class="row">
            @foreach (var item1 in Secsion4_project_antuong.Take(1).ToList())
            {
                <div class="col-md-6 col-12">

                    <img class="w-100" src="@item1.Feature_image" alt="@item1.Title">
                    <div class="article">
                        <h3 class="article-heading">@item1.Title</h3>
                        <div class="article-description">
                            @item1.Short_description
                        </div>
                        <a @onclick="() => NavDetailsProject(item1.Slug)">
                            <button class="btn-more">
                                <span>Xem thêm</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21"
                                     fill="none">
                                    <path d="M0 10.5H21.8207M21.8207 10.5C21.8207 10.5 17.6144 9.34615 15.0906 6.65385C12.5668 3.96154 12.5668 0.5 12.5668 0.5M21.8207 10.5C21.8207 10.5 17.6541 11.6538 15.1541 14.3462C12.6541 17.0385 12.6541 20.5 12.6541 20.5"
                                          stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>
            }
            <div class="col-md-6 col-12">
                <div class="d-grid">
                    @foreach (var item2 in Secsion4_project_antuong.Take(2).Skip(1).ToList())
                    {
                        <div class="col">
                            <img src="@item2.Feature_image" class="w-100" style="height:350px" alt="@item2.Title">
                            <div class="article">
                                <h3 class="article-heading">@item2.Title</h3>
                                <div class="article-description">
                                    @item2.Short_description
                                </div>
                                <a @onclick="() => NavDetailsProject(item2.Slug)">
                                    <button class="btn-more">
                                        <span>Xem thêm</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21"
                                             fill="none">
                                            <path d="M0 10.5H21.8207M21.8207 10.5C21.8207 10.5 17.6144 9.34615 15.0906 6.65385C12.5668 3.96154 12.5668 0.5 12.5668 0.5M21.8207 10.5C21.8207 10.5 17.6541 11.6538 15.1541 14.3462C12.6541 17.0385 12.6541 20.5 12.6541 20.5"
                                                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    }
                    @foreach (var item3 in Secsion4_project_antuong.Take(3).Skip(2).ToList())
                    {
                        <div class="col mt-24px">
                            <img src="@item3.Feature_image" class="w-100" style="height:365px" alt="@item3.Title">
                            <div class="article">
                                <h3 class="article-heading">@item3.Title</h3>
                                <div class="article-description">
                                    @item3.Short_description
                                </div>
                                <a @onclick="() => NavDetailsProject(item3.Slug)">
                                    <button class="btn-more">
                                        <span>Xem thêm</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21"
                                             fill="none">
                                            <path d="M0 10.5H21.8207M21.8207 10.5C21.8207 10.5 17.6144 9.34615 15.0906 6.65385C12.5668 3.96154 12.5668 0.5 12.5668 0.5M21.8207 10.5C21.8207 10.5 17.6541 11.6538 15.1541 14.3462C12.6541 17.0385 12.6541 20.5 12.6541 20.5"
                                                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project">
    <div class="container">
        <div class="section-box">
            <div class="sub-title">
                Loại thảm
            </div>
            <h3 class="title">không gian & Dòng thảm</h3>
            <div class="decoration">
                <div></div>
            </div>
        </div>
        <div class="row">
            @foreach (var pj in product_posts_list.Take(3).ToList())
            {
                <div class="col-md-4 col-12">
                    <a @onclick="() => NavDetailsProject(pj.Slug)">
                        <div class="post-image">
                            <div class="post-date-tag">
                                @pj.Created_at?.ToString("dd/MM/yyyy HH:mm:ss")
                            </div>
                            <img class="w-100" style="width: 416px; height: 535px" src="@pj.Feature_image" alt="">
                        </div>
                    </a>
                    <div class="post-intro">
                        <div class="post-category">
                            <span></span>
                            <span>@pj.Post_categories.FirstOrDefault()?.Categories?.Title</span>
                        </div>
                        <a @onclick="() => NavDetailsProject(pj.Slug)">
                            <div class="post-title">@pj.Title</div>
                        </a>
                        <div class="post-author">
                            @pj.Designer?.Name
                        </div>
                        <div class="post-desc mb-4">
                            @pj.Short_description
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pe-md-0">
                @foreach (var item in Secsion5_post_quytrinh.Take(1).ToList())
                {
                    <div class="post-big-item position-relative">
                        <a href="" class="post-big-image">
                            <img src="@item.Feature_image" class="object-fit-cover h-150 w-100"
                                 alt="">
                        </a>
                        <div class="content-post">
                            <div class="post-big-title">Nghề thủ công</div>
                            <div class="post-big-short-desc">
                                @item.Short_description
                            </div>
                            <a @onclick="() => NavDetailsPost(item.Slug)">
                                <button class="btn-more mx-auto mt-12px">
                                    <span>Xem thêm</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                                         fill="none">
                                        <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                              stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-12 col-md-6 ps-md-0 d-grid">
                @foreach (var it in Secsion5_post_quytrinh.Take(5).Skip(1).ToList())
                {
                    <div class="d-flex align-items-center border-custom">
                        <a @onclick="() => NavDetailsPost(it.Slug)">
                            <div class="f-image">
                                <img src="@it.Feature_image"
                                     class="w-100 h-100"
                                     alt="">
                            </div>
                        </a>
                        <div class="px-4">
                            <a @onclick="() => NavDetailsPost(it.Slug)">
                                <h4 class="post-right-title">@it.Title</h4>
                            </a>
                            <p class="post-right-desc">
                                @it.Short_description
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code {
    private List<Product_Posts> product_posts_list = new List<Product_Posts>();
    private List<Product_Posts> Secsion2_project_noibat3 = new List<Product_Posts>();
    private List<Product_Posts> Secsion3_product_trendy4 = new List<Product_Posts>();
    private List<Product_Posts> Secsion4_project_antuong = new List<Product_Posts>();
    private List<Product_Posts> Secsion5_post_quytrinh = new List<Product_Posts>();
    private List<Product_Posts> post_banner = new List<Product_Posts>();
    private List<Product_Posts> Secsion1_post_banner5 = new List<Product_Posts>();
    private List<Product_Posts> product4 = new List<Product_Posts>();
    private List<Product_Posts> tak4 = new List<Product_Posts>();
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
    private async Task LoadPosts()
    {
        product_posts_list = await sev.GetAllType("project");
        post_banner = await sev.GetAllType("post");
        Secsion1_post_banner5 = await sev.GetAllByClientTypeCate("post", "banner-item");
        Secsion2_project_noibat3 = await sev.GetAllByClientTypeCate("project", "du-an-noi-bat-3");
        Secsion3_product_trendy4 = await sev.GetAllByClientTypeCate("product", "san-pham-trendy-4");
        Secsion4_project_antuong = await sev.GetAllByClientTypeCate("project", "du-an-da-lam-3");
        Secsion5_post_quytrinh = await sev.GetAllByClientTypeCate("post", "quy-trinh");
        product4 = await sev.GetAllByClient();
        tak4 = product4.Take(4).ToList();

    }
    private string GetFirstImageUrl(string imageUrls)
    {
        if (string.IsNullOrEmpty(imageUrls))
        {
            return string.Empty;
        }

        var urls = imageUrls.Split(',');
        return urls.FirstOrDefault() ?? string.Empty;
    }

    private string GetCleanText(string input)
    {
        if (string.IsNullOrEmpty(input))
        {
            return string.Empty;
        }

        // Loại bỏ thẻ HTML
        string textWithoutHtml = System.Text.RegularExpressions.Regex.Replace(input, "<.*?>", string.Empty);

        // Giải mã các ký tự HTML
        return System.Net.WebUtility.HtmlDecode(textWithoutHtml);
    }
    private void NavDetailsProduct(long id)
    {
        nav.NavigateTo($"/product-detail/{id}");
    }
    private void NavDetailsPost(string slug)
    {
        nav.NavigateTo($"/blogs/{slug}");
    }
    private void NavDetailsProject(string slug)
    {
        nav.NavigateTo($"/project/{slug}");
    }
}
