@page "/"
@using BlazorBootstrap
@inject IPostSer sev
@inject NavigationManager nav
@if (Secsion1_post_banner5?.Any() == true)
{
    <section>
        <Carousel ShowIndicators="true">
            @foreach (var banner in Secsion1_post_banner5.Take(1).ToList())
            {
                <CarouselItem Active="true">
                    <img src="@banner.Feature_image" />
                    <CarouselCaption>
                        <h2 class="banner-title " style="color:white">@banner.Title</h2>
                        <p class="banner-description " style="color:white">@banner.Short_description</p>
                        <a @onclick="() => NavDetailsPost(banner.Id)">
                            <button class="btn-more mx-auto mt-12px" style="color:white;  border: 1px solid #ffffff !important">
                                <span>Xem thêm</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                                     fill="none">
                                    <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                          stroke="#ffffff" stroke-width="2.2" stroke-linejoin="bevel" />
                                </svg>
                            </button>
                        </a>
                    </CarouselCaption>
                </CarouselItem>
            }
            @foreach (var bannersk1 in Secsion1_post_banner5.Take(5).Skip(1).ToList())
            {
                <CarouselItem>
                    <img src="@bannersk1.Feature_image" />
                    <CarouselCaption>
                        <h2 class="banner-title" style="color:white; ">@bannersk1.Title</h2>
                        <p class="banner-description" style="color:white">@bannersk1.Short_description</p>
                        <a @onclick="() => NavDetailsPost(bannersk1.Id)">
                            <button class="btn-more mx-auto mt-12px" style="color:white;  border: 1px solid #ffffff !important">
                                <span>Xem thêm</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                                     fill="none">
                                    <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                          stroke="#ffffff" stroke-width="2.2" stroke-linejoin="bevel" />
                                </svg>
                            </button>
                        </a>
                    </CarouselCaption>
                </CarouselItem>
            }
        </Carousel>
    </section>
}
<section class="featured-post">
    <div class="container">
        <div class="row">
            @foreach (var pj in Secsion2_project_noibat3.Take(3).ToList())
            {
                <div class="col-md-4 col-12">
                    <a @onclick="() => NavDetailsProject(pj.Id)">
                        <div class="post-image">
                            <div class="post-date-tag">
                                @pj.Created_at?.ToString("dd/MM/yyyy HH:mm:ss")
                            </div>

                            <img class="w-100" style="width: 416px; height: 535px" src="@pj.Feature_image" alt="">

                        </div>
                    </a>
                    <div class="post-intro">
                        <div class="post-category">
                            <span></span>
                            <span>@pj.Post_categories.FirstOrDefault()?.Categories?.Title</span>
                        </div>
                        <a @onclick="() => NavDetailsProject(pj.Id)">
                            <div class="post-title">@pj.Title</div>
                        </a>
                        <div class="post-author">
                            @pj.Designer?.Name
                        </div>
                        <div class="post-desc mb-4">
                            @pj.Short_description
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<section class="trending">
    <div class="section-box">
        <div class="decoration">
            <div></div>
        </div>
    </div>
    <div class="container">
        <div class="trending-box box-top">
            <div class="tblock-left position-relative">
                <div class="tblock-information">
                    <h2 class="trending-box-title">
                        những thiết kế thảm đang trending
                    </h2>
                    <h2 class="trending-box-sub-title">
                        TRENDY
                        2024
                    </h2>
                </div>
                <a href="/contact">
                    <button class="btn-more">
                        <span>Liên hệ</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                             fill="none">
                            <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                        </svg>
                    </button>
                </a>
            </div>
            @foreach (var sp1 in Secsion3_product_trendy4.Take(1).ToList())
            {
                <a @onclick="() => NavDetailsProduct(sp1.Id)">
                    <div class="tblock-right">
                        <img src="@sp1.Feature_image"
                             alt="@sp1.Title">
                        <div class="img-desc">
                            <h2>@sp1.Title</h2>
                            <div class="decoration-title d-flex align-center">
                                <div></div>
                            </div>
                            <p>
                                @sp1.Short_description
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="trending-box trending-box-item mt-24px">
            @foreach (var sp3 in Secsion3_product_trendy4.Skip(1).Take(3).ToList())
            {
                <div class="flex-item">
                    <div class="position-relative">
                        <img src="@sp3.Feature_image" alt="Ảnh 3" class="img-fluid">
                        <div class="img-title">
                            <h2>@sp3.Title</h2>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section class="section-product">
    <div class="container">
        <div class="section-box">
            <div class="sub-title">
                Loại thảm
            </div>
            <h3 class="title">không gian & Dòng thảm</h3>
            <div class="decoration">
                <div></div>
            </div>
        </div>
        <div class="product-list">

            <div class="row product mt-48px">
                @foreach (var item in tak4)
                {
                    <div class="col-12 col-lg-3 col-md-3 product">
                        <figure class="card product-card">
                            <div class="product-image">
                                <a @onclick="() => NavDetailsProduct(item.Id)">
                                    <div class="img-wrap">
                                        <img src="@item.Posts?.Feature_image"
                                             class="w-100 h-100 object-fit-cover"
                                             alt="">
                                    </div>
                                    <div class="img-wrap-hide">
                                        <img src="@GetFirstImageUrl(item.Posts.Image_library)"
                                             class="w-100 h-100 object-fit-cover"
                                             alt="">
                                    </div>
                                </a>
                                <div class="product-action">
                                    <a href="javascript:void(0)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                            <g clip-path="url(#clip0_1486_972)">
                                                <path d="M14.8436 2.8202C14.0545 1.92477 12.9597 1.43164 11.761 1.43164C10.0751 1.43164 9.00777 2.43852 8.40927 3.2832C8.25399 3.50239 8.12189 3.72217 8.01099 3.92898C7.90008 3.72217 7.76802 3.50239 7.61271 3.2832C7.0142 2.43852 5.94686 1.43164 4.26099 1.43164C3.0623 1.43164 1.96752 1.9248 1.17833 2.82023C0.42558 3.67442 0.0109863 4.81842 0.0109863 6.04148C0.0109863 7.37283 0.530768 8.61111 1.64677 9.93836C2.64417 11.1246 4.07908 12.3474 5.74067 13.7633C6.35983 14.2909 7.00011 14.8365 7.68177 15.4329L7.70224 15.4509C7.79061 15.5282 7.9008 15.5669 8.01099 15.5669C8.12117 15.5669 8.23136 15.5282 8.31974 15.4509L8.34021 15.4329C9.02186 14.8365 9.66214 14.2909 10.2814 13.7632C11.9429 12.3474 13.3778 11.1246 14.3752 9.93836C15.4912 8.61108 16.011 7.37283 16.011 6.04148C16.011 4.81842 15.5964 3.67442 14.8436 2.8202ZM9.67327 13.0497C9.13952 13.5045 8.59021 13.9726 8.01099 14.4761C7.4318 13.9727 6.88245 13.5045 6.34861 13.0496C3.09677 10.2786 0.948486 8.44795 0.948486 6.04148C0.948486 5.0468 1.27989 4.12292 1.88167 3.44008C2.49036 2.74948 3.33533 2.36914 4.26099 2.36914C5.54627 2.36914 6.37711 3.16095 6.84774 3.8252C7.26989 4.42095 7.49017 5.02152 7.5653 5.25205C7.62814 5.44502 7.80805 5.57561 8.01099 5.57561C8.21392 5.57561 8.39383 5.44502 8.45667 5.25205C8.5318 5.02152 8.75208 4.42095 9.17424 3.82517C9.64486 3.16095 10.4757 2.36914 11.761 2.36914C12.6866 2.36914 13.5316 2.74948 14.1403 3.44008C14.7421 4.12292 15.0735 5.0468 15.0735 6.04148C15.0735 8.44795 12.9252 10.2786 9.67327 13.0497Z" fill="#242424" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1486_972">
                                                    <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                            <g clip-path="url(#clip0_1486_978)">
                                                <path d="M15.8178 15.4381L11.913 11.5334C12.8836 10.3662 13.4683 8.86744 13.4683 7.23438C13.4683 3.52103 10.4474 0.5 6.73421 0.5C3.02094 0.5 0 3.52103 0 7.23438C0 10.9475 3.02094 13.9683 6.73421 13.9683C8.36718 13.9683 9.86604 13.3836 11.0332 12.413L14.9381 16.3178C15.0595 16.4393 15.2188 16.5 15.3779 16.5C15.5371 16.5 15.6963 16.4393 15.8178 16.3178C16.0608 16.0748 16.0608 15.681 15.8178 15.4381ZM1.24414 7.23438C1.24414 4.20705 3.70696 1.74414 6.73421 1.74414C9.76137 1.74414 12.2241 4.20705 12.2241 7.23438C12.2241 10.2615 9.76137 12.7241 6.73421 12.7241C3.70696 12.7241 1.24414 10.2615 1.24414 7.23438Z" fill="#242424" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1486_978">
                                                    <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <figcaption class="product-info">
                                <a @onclick="() => NavDetailsProduct(item.Id)">
                                    <a href="" class="product-name">@item.Posts.Title</a>
                                </a>
                                <div class="product-description">
                                    <span class="description">@item.Posts.Post_categories.FirstOrDefault()?.Categories?.Title</span>
                                </div>
                                @if (item.MinPrice.HasValue && item.MaxPrice.HasValue)
                                {
                                    <div class="product-price">
                                        <span class="price">Giá: @item.MinPrice - @item.MaxPrice VND</span>
                                    </div>
                                }
                                else
                                {
                                    <div>Chưa có giá</div>
                                }
                                <a onclick="showSidebar('sidebar-filter-category')"
                                   class="btn-white btn-contract btn-contract-mobile">
                                    <div>Liên hệ</div>
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<div>
    @*
    @if (product4?.Any() == true)
    {
    <!-- Swiper CSS -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Video.js CSS -->
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <section class="section-5">
    <!-- Slider for PC -->
    <div class="swiper trending-slide pc">
    <div class="swiper-wrapper">
    @foreach (var product in product4)
    {
    <div class="swiper-slide ms-2">
    <div class="swiper-wrapper">
    <div class="row">
    <div class="col-9">
    <video id="content_video_@product.Id" class="video-js vjs-default-skin video-js-pc"
    controls preload="auto" poster="main/assets/images/introduce-video.png">
    <source src="https://youtu.be/wp90u2BtxVI?si=lpj-Ebc7kr_5dqMF"
    type="video/youtube" />
    </video>
    </div>
    <div class="col-3">
    <div class="position-relative">
    <img style="height: 700px" src="@product.Posts.Feature_image"
    alt="@product.Posts.Title">
    <div class="img-title d-flex flex-column" style="gap: 8px">
    <a href="#">
    <h4 class="title">@product.Posts.Title</h4>
    </a>
    <p class="desc">@product.Posts.Post_categories?.FirstOrDefault()?.Categories?.Title</p>
    <p class="price">@product.MinPrice VND</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    }
    </div>
    <!-- Pagination and Navigation -->
    <div class="swiper-pagination pc"></div>
    <div class="swiper-button-prev pc"></div>
    <div class="swiper-button-next pc"></div>
    </div>

    <!-- Slider for Phone -->
    <div class="trending-slide-phone phone">
    @foreach (var product in product4)
    {
    <div class="trending-item">
    <div class="trending-item-image">
    <video id="content_video_m@product.Id" class="video-js vjs-default-skin video-js-mobile"
    controls preload="auto" poster="@("/main/assets/images/introduce-video.png")">
    <source src="https://youtu.be/wp90u2BtxVI?si=lpj-Ebc7kr_5dqMF"
    type="video/youtube" />
    </video>
    </div>
    <div class="trending-item-content">
    <div class="position-relative">
    <img src="@product.Posts.Feature_image" alt="@product.Posts.Title">
    <div class="img-title d-flex flex-column" style="gap: 8px">
    <a href="#">
    <h4 class="title">@product.Posts.Title</h4>
    </a>
    <p class="desc">@product.Posts.Post_categories?.FirstOrDefault()?.Categories?.Title</p>
    <p class="price">@product.MinPrice VND</p>
    </div>
    </div>
    </div>
    </div>
    }
    </div>
    </section>
    <!-- Video.js and Swiper.js Scripts -->
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script src="/main/assets/js/Youtube.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
    // Initialize Video.js for PC
    var videos = document.getElementsByClassName('video-js-pc');
    for (var i = 0; i < videos.length; i++) {
    videojs(videos[i].id, { autoplay: false });
    }

    // Initialize Video.js for Mobile
    var mobileVideos = document.getElementsByClassName('video-js-mobile');
    for (var i = 0; i < mobileVideos.length; i++) {
    videojs(mobileVideos[i].id, { autoplay: false });
    }

    // Initialize Swiper.js for PC
    var swiperPC = new Swiper('.trending-slide.pc', {
    loop: true,
    pagination: {
    el: '.swiper-pagination.pc',
    clickable: true,
    },
    navigation: {
    nextEl: '.swiper-button-next.pc',
    prevEl: '.swiper-button-prev.pc',
    },
    });

    // Initialize Swiper.js for Mobile
    var swiperPhone = new Swiper('.trending-slide-phone.phone', {
    loop: true,
    pagination: {
    el: '.swiper-pagination.phone',
    clickable: true,
    },
    });
    </script>
    } *@
</div>
<section class="library">
    <div class="container">
        <div class="row">
            @foreach (var item1 in Secsion4_project_antuong.Take(1).ToList())
            {
                <div class="col-md-6 col-12">

                    <img class="w-100" src="@item1.Feature_image" alt="@item1.Title">
                    <div class="article">
                        <h3 class="article-heading">@item1.Title</h3>
                        <div class="article-description">
                            @item1.Short_description
                        </div>
                        <a @onclick="() => NavDetailsProject(item1.Id)">
                            <button class="btn-more">
                                <span>Xem thêm</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21"
                                     fill="none">
                                    <path d="M0 10.5H21.8207M21.8207 10.5C21.8207 10.5 17.6144 9.34615 15.0906 6.65385C12.5668 3.96154 12.5668 0.5 12.5668 0.5M21.8207 10.5C21.8207 10.5 17.6541 11.6538 15.1541 14.3462C12.6541 17.0385 12.6541 20.5 12.6541 20.5"
                                          stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>
            }
            <div class="col-md-6 col-12">
                <div class="d-grid">
                    @foreach (var item2 in Secsion4_project_antuong.Take(1).Skip(1).ToList())
                    {
                        <div class="col">
                            <img src="@item2.Feature_image" class="w-100" alt="@item2.Title">
                            <div class="article">
                                <h3 class="article-heading">@item2.Title</h3>
                                <div class="article-description">
                                    @item2.Short_description
                                </div>
                                <a @onclick="() => NavDetailsProject(item2.Id)">
                                    <button class="btn-more">
                                        <span>Xem thêm</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21"
                                             fill="none">
                                            <path d="M0 10.5H21.8207M21.8207 10.5C21.8207 10.5 17.6144 9.34615 15.0906 6.65385C12.5668 3.96154 12.5668 0.5 12.5668 0.5M21.8207 10.5C21.8207 10.5 17.6541 11.6538 15.1541 14.3462C12.6541 17.0385 12.6541 20.5 12.6541 20.5"
                                                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    }
                    @foreach (var item3 in Secsion4_project_antuong.Take(1).Skip(2).ToList())
                    {
                        <div class="col mt-24px">
                            <img src="@item3.Feature_image" class="w-100" alt="@item3.Title">
                            <div class="article">
                                <h3 class="article-heading">@item3.Title</h3>
                                <div class="article-description">
                                    @item3.Short_description
                                </div>
                                <a @onclick="() => NavDetailsProject(item3.Id)">
                                    <button class="btn-more">
                                        <span>Xem thêm</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21"
                                             fill="none">
                                            <path d="M0 10.5H21.8207M21.8207 10.5C21.8207 10.5 17.6144 9.34615 15.0906 6.65385C12.5668 3.96154 12.5668 0.5 12.5668 0.5M21.8207 10.5C21.8207 10.5 17.6541 11.6538 15.1541 14.3462C12.6541 17.0385 12.6541 20.5 12.6541 20.5"
                                                  stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project">
    <div class="container">
        <div class="section-box">
            <div class="sub-title">
                Loại thảm
            </div>
            <h3 class="title">không gian & Dòng thảm</h3>
            <div class="decoration">
                <div></div>
            </div>
        </div>
        <div class="row">
            @foreach (var pj in product_posts_list.Take(3).ToList())
            {
                <div class="col-md-4 col-12">
                    <a @onclick="() => NavDetailsProject(pj.Id)">
                        <div class="post-image">
                            <div class="post-date-tag">
                                @pj.Created_at?.ToString("dd/MM/yyyy HH:mm:ss")
                            </div>
                            <img class="w-100" style="width: 416px; height: 535px" src="@pj.Feature_image" alt="">
                        </div>
                    </a>
                    <div class="post-intro">
                        <div class="post-category">
                            <span></span>
                            <span>@pj.Post_categories.FirstOrDefault()?.Categories?.Title</span>
                        </div>
                        <a @onclick="() => NavDetailsProject(pj.Id)">
                            <div class="post-title">@pj.Title</div>
                        </a>
                        <div class="post-author">
                            @pj.Designer?.Name
                        </div>
                        <div class="post-desc mb-4">
                            @pj.Short_description
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pe-md-0">
                @foreach (var item in Secsion5_post_quytrinh.Take(1).ToList())
                {
                    <div class="post-big-item position-relative">
                        <a href="" class="post-big-image">
                            <img src="@item.Feature_image" class="object-fit-cover h-150 w-100"
                                 alt="">
                        </a>
                        <div class="content-post">
                            <div class="post-big-title">Nghề thủ công</div>
                            <div class="post-big-short-desc">
                                @item.Short_description
                            </div>
                            <a @onclick="() => NavDetailsPost(item.Id)">
                                <button class="btn-more mx-auto mt-12px">
                                    <span>Xem thêm</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                                         fill="none">
                                        <path d="M0 10H21.8207M21.8207 10C21.8207 10 17.6144 8.84615 15.0906 6.15385C12.5668 3.46154 12.5668 0 12.5668 0M21.8207 10C21.8207 10 17.6541 11.1538 15.1541 13.8462C12.6541 16.5385 12.6541 20 12.6541 20"
                                              stroke="#242424" stroke-width="2.2" stroke-linejoin="bevel" />
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-12 col-md-6 ps-md-0 d-grid">
                @foreach (var it in Secsion5_post_quytrinh.Take(5).Skip(1).ToList())
                {
                    <div class="d-flex align-items-center border-custom">
                        <a @onclick="() => NavDetailsPost(it.Id)">
                            <div class="f-image">
                                <img src="@it.Feature_image"
                                     class="w-100 h-100"
                                     alt="">
                            </div>
                        </a>
                        <div class="px-4">
                            <a @onclick="() => NavDetailsPost(it.Id)">
                                <h4 class="post-right-title">@it.Title</h4>
                            </a>
                            <p class="post-right-desc">
                                @it.Short_description
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code {
    private List<Product_Posts> product_posts_list = new List<Product_Posts>();
    private List<Product_Posts> Secsion2_project_noibat3 = new List<Product_Posts>();
    private List<Product_Posts> Secsion3_product_trendy4 = new List<Product_Posts>();
    private List<Product_Posts> Secsion4_project_antuong = new List<Product_Posts>();
    private List<Product_Posts> Secsion5_post_quytrinh = new List<Product_Posts>();
    private List<Product_Posts> post_banner = new List<Product_Posts>();
    private List<Product_Posts> Secsion1_post_banner5 = new List<Product_Posts>();
    private List<Product_variants> product4 = new List<Product_variants>();
    private List<Product_variants> tak4 = new List<Product_variants>();
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
    private async Task LoadPosts()
    {
        product_posts_list = await sev.GetAllType("project");
        post_banner = await sev.GetAllType("post");
        Secsion1_post_banner5 = await sev.GetAllByClientTypeCate("post", "banner-item");
        Secsion2_project_noibat3 = await sev.GetAllByClientTypeCate("project", "du-an-noi-bat-3");
        Secsion3_product_trendy4 = await sev.GetAllByClientTypeCate("product", "san-pham-trendy-4");
        Secsion4_project_antuong = await sev.GetAllByClientTypeCate("project", "du-an-da-lam-3");
        Secsion5_post_quytrinh = await sev.GetAllByClientTypeCate("post", "quy-trinh");
        product4 = await sev.GetAllByClient();
        tak4 = product4.Take(4).ToList();

    }
    private string GetFirstImageUrl(string imageUrls)
    {
        if (string.IsNullOrEmpty(imageUrls))
        {
            return string.Empty;
        }

        var urls = imageUrls.Split(',');
        return urls.FirstOrDefault() ?? string.Empty;
    }

    private string GetCleanText(string input)
    {
        if (string.IsNullOrEmpty(input))
        {
            return string.Empty;
        }

        // Loại bỏ thẻ HTML
        string textWithoutHtml = System.Text.RegularExpressions.Regex.Replace(input, "<.*?>", string.Empty);

        // Giải mã các ký tự HTML
        return System.Net.WebUtility.HtmlDecode(textWithoutHtml);
    }
    private void NavDetailsProduct(long id)
    {
        nav.NavigateTo($"/product-detail/{id}");
    }
    private void NavDetailsPost(long id)
    {
        nav.NavigateTo($"/blogs-details/{id}");
    }
    private void NavDetailsProject(long id)
    {
        nav.NavigateTo($"/project-detail/{id}");
    }
}
