@page "/{slug}"
@inject IBannerServices bnser
@inject IPostSer sev
@inject IJSRuntime JS
@inject NavigationManager nav



<section class="section-banner">
     <img src="@banner.Meta_data"
         class="w-100 h-100" alt="banner-image-3">
    <div class="title-banner">
        <h1>
            @banner.Name
        </h1>
    </div> 
</section>
<section id="trending_detail">
     <div class="container">
        <div class="row">
            <main class="col-md-12">
                <header>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"> Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@posts.Title</li>
                        </ol>
                    </nav>              
                </header>
                <article class="mt-48px">
                    <header>
                        <div class="post-intro">                  
                            <div class="post-big-title">@posts.Title</div>
                            <div class="post-big">
                                @((MarkupString)posts.Description)
                            </div>
                        </div>
                    </header>                 
                </article>
            </main>         
        </div>
    </div> 
</section>
@code {
    [Parameter]
    public string slug { get; set; }

    private Product_Posts posts = new Product_Posts();
    private Banner banner = new Banner();

    protected async override Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    protected async override Task OnParametersSetAsync()
    {
        await LoadPosts(); 
    }

    private async Task LoadPosts()
    {
        if (!string.IsNullOrEmpty(slug))
        {
            posts = await sev.GetBySlugAndTypePage(slug, "page");
            if (posts != null)
            {
                banner = await bnser.GetBannerByProductPostId(posts.Id);
            }
        }
        else
        {
            posts = new Product_Posts();
            banner = new Banner();
        }
        StateHasChanged(); // Làm mới giao diện
    }
}
